*{
        color: inherit;
        text-decoration: none;
}
body {
        background-color: #2f355a;
        font-family: Arial, sans-serif;
        color: #000;
        text-align: center;
        background-image: url('fondo.webp');
        background-size: cover;       
        background-position: center;  
        background-attachment: fixed; 
        background-repeat: no-repeat; 
}
table {
        margin: 40px auto;
        border-spacing: 40px;
}
figure {
        background: white;
        padding: 10px;
        border-radius: 10px;
        width: 240px;
        box-shadow: 5px 5px 0px #1d223a;
        margin: 40px auto;
}
figure img {
        width: 100%;
        border-radius: 5px;
}
h1{
        text-shadow:#1d223a 5px 6px 4px;
}
figcaption {
        margin-top: 10px;
        color: rgb(175, 20, 175);
        font-weight: bold;
        font-size: 14px;
}
ul{
        padding: 0%;
        margin: 0;
        
}
li{
        display: inline-block;
        width: 100%/3;
        text-align: center;
        font-weight: bold;
}
li:hover{
        text-decoration: line-through 3px #000;
}
figure:hover{
        background-color: black;
}
figure:hover{
        transform: scale(1.10);
}
p{
        text-align: center;
        color: rgb(236, 146, 71);
        font-size: 25px;
}