*{
        color: inherit;
        text-decoration: none;
}
body {
        background-color: #2f355a;
        font-family: Arial, sans-serif;
        color: black;
      background-image: url('../fondo.webp');
  background-size: cover;       
  background-position: center;  
  background-attachment: fixed; 
  background-repeat: no-repeat;
        text-align: center;
        text-decoration: none;
}
table {
        margin: 40px auto;
        border-spacing: 40px;
}
figure {
        background: white;
        padding: 10px;
        border-radius: 10px;
        width: 140px;
        box-shadow: 5px 5px 0px #1d223a;
        margin: 0;
}
figure img {
        width: 100%;
        border-radius: 5px;
}
figcaption {
        margin-top: 10px;
        color: rgb(175, 20, 175);
        font-weight: bold;
        font-size: 14px;
}
h1{
    text-shadow: 2px 2px 0px #000;
}
li{
        display: inline-block;
        width: 100%/3;
        text-align: center;
        font-weight: bold;
}
li:hover{
        text-decoration: line-through 3px #000;
}
figure:hover{
        background-color: #000;
}